<h2 mat-dialog-title  class="text-center w-full text-xl font-bold text-red-600">Confirm Deletion</h2>
<mat-dialog-content>
  <p>Are you sure you want to delete the student below?</p>
  <ul>
    <li><strong>ID:</strong> {{ data.studentid }}</li>
    <li><strong>Name:</strong> {{ data.name }}</li>
    <li><strong>Email:</strong> {{ data.email }}</li>
  </ul>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="dialogRef.close(false)">Cancel</button>
  <button mat-raised-button color="warn" (click)="dialogRef.close(true)">Delete</button>
</mat-dialog-actions>
